.button {
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 16px;
    min-width: 168px;
    border-radius: 6px;
    background: $main-color;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: $second-color;
    text-transform: uppercase;
    box-shadow: 0px -5px 0px 0px $second-color;
    cursor: pointer;

    &:hover {
        background: $second-color;
        color: $main-color;
        box-shadow: 0px -5px 0px 0px $main-color;
    }

    &_inactive {
        display: none;
    }
}

.blue-button {
    background: $button-purchase-color;

    &:hover {
        background: $second-color;
        color: $button-purchase-color;
        box-shadow: 0px -5px 0px 0px $button-purchase-color;
    }
}

.plus {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 16px;
        left: 24px;
        top: 24px;
        background-color: $second-color;
    }
    &:hover:before {
        background-color: $main-color;
    }
    &::after {
        content: '';
        position: absolute;
        height: 5px;
        width: 16px;
        left: 18px;
        top: 29px;
        background-color: $second-color;
    }
    &:hover:after {
        background-color: $main-color;
    }

    span {
        margin-left: 16px;
    }
}
