@media (max-width: 992px) {
    .modal-content {
        max-width: 85vw;
        max-height: 85vh;

        img {
            object-fit: cover;
        }
    }
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 70vw;
        max-height: 70vh;

        img {
            object-fit: contain;
        }
    }
}
