@media (max-width: 1200px) {
    .news {
        &-content {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 25px;

            &-img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .news {
        padding-top: 65px;
        &-content {
            &-title {
                line-height: 29px;
                font-size: 15px;
            }
            &-descr {
                line-height: 27px;
            }
        }
    }
}

@media (max-width: 576px) {
    .news {
        padding: 60px 20px;
        &-content {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 18px;
        }
    }
}
