$main-color: #18cfab;
$second-color: #ffffff;
$dark-blue: #1c2a33;
$light-grey: #d4d4d4;
$tabs-bgc: #f8fcfe;
$grey: #717171;
$work-bgc: #e9edef;
$button-purchase-color: #00cbf6;
$over-card-item-c: #14b9d5;
$news-descr: #777777;
$news-date-bgc: #203e38;
$footer-bgc: #22353f;
$footer-text-c: #aeaeae;
$border-photo-c: #114c4b;
